<html>
<head>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>  
  <script src="//unpkg.com/vue/dist/vue.js"></script>
  <script src="//unpkg.com/element-ui@2.3.8/lib/index.js"></script>
  <div id="app">
    <template>
      <el-table ref="singleTable" :data="tableData" highlight-current-row @current-change="handleCurrentChange" style="width: 100%">
        <el-table-column property="id" label="编号" width="120">
        </el-table-column>
        <el-table-column property="name" label="名称" width="120">
        </el-table-column>
      </el-table>
      <div style="margin-top: 20px">
        <el-button @click="deleteRow()">删除</el-button>
        <el-button @click="setCurrent()">取消选择</el-button>
      </div>
    </template>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
          tableData: [],
          currentRow: null,
      },
      
      created: function () {
        let url = 'list';
        let that = this;
        axios.get(url).then(function (res) {
          that.tableData = res.data.category;
        }).
        catch(function (error) {
          console.log(error);
        })
      },
      
      methods: {
        deleteRow() {
          if (this.currentRow === null) {
            this.$message('请选择一行');
          } else {
            let url = 'delete';
            let that = this;
            axios.post(url, {'id':this.currentRow.id}).then(function (res) {
              if (res.data.success) {
                that.$message('删除成功');
              } else {
                that.$message('删除失败');
              }
            }).
            catch(function (error) {
              console.log(error);
            })
            window.location.reload();
          }
        },

        handleCurrentChange(val) {
          this.currentRow = val;
        }
      }
    });
  </script>
</body>
</html>
